In [58]:
import os
import pandas as pd
os.chdir('../src/') #to avoid module load issues. TODO fix via module path

from src.lib.utils.twitter import get_user_info

def get_grant_prj_twitter_info(x):

    twitter_account = get_user_info(x['twitter_handle_1'])
    
    #num_tweets, created_at, followers_count
    return x['grant_id'], x['twitter_handle_1'], twitter_account.statuses_count, twitter_account.created_at, twitter_account.followers_count

In [59]:
#LOAD GRANTS
grant_json_path = 'gr15_grants.json'
df_grants = pd.read_json(grant_json_path).transpose()

In [60]:
#GET GRANT TWITTER INFO
grant_prj_twitter_info = df_grants.head(5).apply(lambda x: get_grant_prj_twitter_info(x), axis=1)
df_grant_prj_twitter_info = pd.DataFrame(grant_prj_twitter_info.tolist())
df_grant_prj_twitter_info.columns = ['grant_id', 'twitter_name', 'num_tweets', 'created_at', 'followers_count']

In [61]:
df_grant_prj_twitter_info.head()

,grant_id,twitter_name,num_tweets,created_at,followers_count
0,8017,leanderdulac,20565,2009-08-22 19:26:36+00:00,606
1,7979,IkhalaImpact,15,2022-03-16 21:46:30+00:00,20
2,7977,DOMUNSTOPPABLE,7,2022-08-23 11:37:58+00:00,47
3,7976,M0niquesullivan,12280,2012-03-30 18:07:06+00:00,2021
4,7974,_SolDAO,2,2022-09-07 06:49:36+00:00,118